<div id="mycarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
        <img src="assets/1.png" alt="" class="img-responsive"/>
        <div style="background-color:rgba(0, 0, 0, 0.5)">
           <div class="carousel-caption">
             <h1>Let's get started with icurio 2.0!</h1>
               <p style="font-size: 150%; ">icurio is the digital curriculum content solution for personalized learning from Knovation.
                 With teacher-vetted, standards-aligned digital resources and a framework for curriculum development,
                 icurio gives teachers more time and flexibility to create engaging lessons that are personally relevant
                 and educationally appropriate for each student.</p>
          </div>
        </div>
      </div>
  </div>
</div>
