<% content_for :about do %>
  <div class="container bg-primary1" style="width:100%">
    <div class="row">
      <h1 class="page-header-lc">Static Electricity
        <i class="fa fa-bolt" aria-hidden="true" style="padding-left: 10px; padding-right: 10px;"></i>
          <small style="color: white;">5th Grade Science</small>
      </h1>
    </div>
  </div>

  <div class="container pad-contain">
  <div class="well well-lg well-style">
  <div class="row">

  <div class="col-md-4 col-md-push-8 panel panel-default description">
    <h3 style="color: #089de3">What's Static Electricity?</h3>
    <p>You'vetest probably had plenty of experiences with static electricity - the "shock" you feel after you walk across the carpet and touch the doorknob, or the jolt that you experience when you take off a winter hat. What is static electricity, and why does it cause this type of event to occur?</p>
    <p> Everything is made up of atoms, and atoms are made of tiny particles, some of which are electrically charged. Most atoms are electrically neutral; the positive charges (protons in the nucleus or center of the atom) cancel out the negative charges (electrons that surround the nucleus). Sometimes the outer layer (the negatively-charged electrons) of atoms are rubbed off, producing atoms that have a slight positive charge. The object that did the rubbing will collect a slight negative charge as it gets extra electrons. During dry weather, these charges tend to build up, and you get static electricity.</p>
    <p>In this lesson, you'll learn about static electricity, and have an opportunity to try it out for yourself.</p>
  </div>

    <div class="embed-responsive embed-responsive-16by9 col-md-8 col-md-pull-4 top-section top-section2 div_style_video">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yc2-363MIQs"> </iframe>
    </div>

    <div class="col-md-2 panel panel-default description-panel large-width">
      <h4 class="video-description">TED ED: The science of static electricity</h4>
      <p>We’ve all had the experience: you’re walking across a soft carpet, you reach for the doorknob and … ZAP. But what causes this trademark jolt of static electricity? Anuradha Bhagwat sheds light on the phenomenon by examining the nature of matter.</p>
    </div>
  </div>
  </div>
  </div>

  <div class="container bg-primary2" style="width:100%">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Ready for more? <i class="fa fa-rocket" aria-hidden="true" style="padding-left: 10px; padding-right: 10px;"></i></h2>

              <hr class="light">
              <p class="text-faded">These resources have been hand selected to address this topic. Let's get started!</p>
          </div>
      </div>
  </div>

  <div class="row-fluid resource-row">
    <div class="col-sm-3 col-xs-6">
      <div class="panel panel-default panel-bottom panel-border">
        <div class="panel-body">
          <div class="pdf-thumb-box">
            <a target="_blank" href="https://www.loc.gov/rr/scitech/mysteries/static.html">
              <div class="pdf-thumb-box-overlay"><span class="fa-stack fa-lg">
                <i class="fa fa-external-link fa-2x"></i>
              </span>
            </div>
            <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/icuriovideos/images/Screen+Shot+2016-04-19+at+12.32.51+PM.png" alt="">
          </a>
        </div>
        <a target="_blank" href="https://www.loc.gov/rr/scitech/mysteries/static.html">
          <h3>LOC: How Does Static Electricity Work?</h3>
        </a>
        <p>Have you ever walked across the room to pet your dog, but got a shock instead? Why does this happen? Is it magic? Learn about static electricity in this resource from the Library of Congress.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="panel panel-default panel-bottom panel-border">
      <div class="panel-body">
        <div class="pdf-thumb-box">
          <a target="_blank" href="https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html">
            <div class="pdf-thumb-box-overlay"><span class="fa-stack fa-lg">
              <i class="fa fa-external-link fa-2x"></i>
            </span>
            </div>
            <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/icuriovideos/images/Screen+Shot+2016-04-18+at+10.56.07+PM.png" alt="">
          </a>
        </div>
        <a target="_blank" href="https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html">
        <h3>PHET: Balloons and Static Electricity</h3>
      </a>
      <p>Why does a balloon stick to your sweater? Explore the charges in the sweater, balloons, and the wall as you investigate using this interactive resorce from The University of Colorodo Bolder.</p>
    </div>
  </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="panel panel-default panel-bottom panel-border">
      <div class="panel-body">
        <div class="pdf-thumb-box">
          <a target="_blank" href="http://studyjams.scholastic.com/studyjams/jams/science/energy-light-sound/electricity.htm">
            <div class="pdf-thumb-box-overlay"><span class="fa-stack fa-lg">
              <i class="fa fa-external-link fa-2x"></i>
              </span>
            </div>
            <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/icuriovideos/images/Screen+Shot+2016-04-18+at+10.41.06+PM.png" alt="">
          </a>
        </div>
        <a target="_blank" href="http://studyjams.scholastic.com/studyjams/jams/science/energy-light-sound/electricity.htm">
        <h3>Study Jams: Static Electricity</h3>
        </a>
      <p>Electricity is a type of power that is produced by the movement of electrons. In this video, learn why static electricity forms naturally, & occurs when electrons jump from one object to another.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="panel panel-default panel-bottom panel-border">
      <div class="panel-body">
        <div class="pdf-thumb-box">
          <a target="_blank" href="http://www-tc.pbs.org/benfranklin/shocking/how_shocking.swf">
            <div class="pdf-thumb-box-overlay"><span class="fa-stack fa-lg">
              <i class="fa fa-external-link fa-2x"></i>
              </span>
            </div>
            <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/icuriovideos/images/Screen+Shot+2016-04-19+at+12.45.16+PM.png" alt="">
          </a>
        </div>
          <a target="_blank" href="http://www-tc.pbs.org/benfranklin/shocking/how_shocking.swf">
          <h3>PBS: Benjamin Franklin - How Shocking</h3>
          </a>
        <p>An interactive recreation of Franklin's experiments with electricity, including his famous kite experiment and his invention of the lightening rod. Create the perfect conditions for capturing electricity!</p>
      </div>
    </div>
  </div>
  </div>
<% end %>
