
<div class="jumbotron center">
  <h1>Welcome Home!</h1>
  
  <% if user_signed_in? %>
    <p>You're logged in. This is where all the cool stuff happens!</p>
  <% else %>
    <p>You're not logged in. The cool stuff happens once you log in. </p>
  <%end%>

</div>
