
<div class="jumbotron center">
  <h1>Welcome Home!</h1>
  <p>This is where all the cool stuff happens!</p>
  <p>Click here to <%= link_to "sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
