</br>
</br>
</br>
</br>
</br>
<h1>New Custom Page</h1>
<h5 style="color:grey; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;">
  <%="Select Greeting or Message text to apply formatting."%>
</h5>
<%= render 'form' %>
