table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #2e6da4;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

.videotable td {
  background-color: white;
}

.table-vcenter td{
  vertical-align: middle!important;
}


tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
