table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.nT {
  background-color: #009fe2;
  color: white;
}

.ic1 {
  background-color: #78ab36;
  color: white;
}

.ic2 {
  background-color: #f18020;
  color: white;
}

.cpindex {
  background-color: #2e6da4;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

.videotable td {
  background-color: white;
}

.table-vcenter td{
  vertical-align: middle!important;
}

.reduce-tablepad {
  padding-left: 10px;
  padding-right: 10px;
}

.form-long {
  overflow-y: auto;
  height: 70px;
}

tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.hidden {
    display:none;
}

table tr td.extend {
  width:50%
}
