// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#videos {
  margin: 0 auto;
}

.box {
  margin: 10px;
  width: 260px;
}

.box img {
  width: 100%;
}

body {
    margin: 0;
}
html, body, #map {
    width: 100%;
    height: 100%;
}
